In [37]:
import numpy
import pandas as pd
import re
from sklearn.metrics.pairwise import euclidean_distances

In [38]:
# Define the paths to your CSV files
name_csv = r'C:\Users\Admin\Documents\Cinderella\filenames.csv'
# Define the paths to your CSV files
base_path = r'C:\Users\Admin\Documents\Cinderella\csvs'

# Read the CSV file into a Pandas DataFrame
filenames = pd.read_csv(name_csv)


csv_file_1 = base_path + '\\patient_info.csv'
csv_file_2 = base_path + '\\patient_images.csv'
csv_file_3 = base_path + '\\catalogue_info.csv'

# Read the CSV file into a Pandas DataFrame
patient_info = pd.read_csv(csv_file_1)
patient_images = pd.read_csv(csv_file_2)
catalogue_info = pd.read_csv(csv_file_3)

In [39]:
# Define a function to extract numbers based on the conditions
def extract_numbers(image_name):
    # Check if the image_name starts with a number
    match = re.match(r'^(\d+)_', image_name)
    if match:
        return match.group(1)
    else:
        # Extract numbers after the first "_" until the next "_"
        match = re.search(r'_(\d+)_', image_name)
        if match:
            return match.group(1)
    return None

# Apply the function to the "image_name" column

filenames['extracted_numbers'] = filenames['image_name'].apply(extract_numbers)

filenames=filenames[filenames['extracted_numbers'].notna()]

In [41]:
filenames

,image_name,mask_name,extracted_numbers
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556
1,74953_10MAI2018_5_resized.jpg,74953_10MAI2018_5_mask_resized.jpg,74953
2,58272_6JAN2017_2_resized.jpg,58272_6JAN2017_2_mask_resized.jpg,58272
3,209394_07SEP2021_2_resized.jpg,209394_07SEP2021_2_mask_resized.jpg,209394
4,CCC_101748_11-08-20_2_resized.jpg,CCC_101748_11-08-20_2_mask_resized.jpg,101748
...,...,...,...
1776,106767_24DEC2021_2_resized.jpg,106767_24DEC2021_2_mask_resized.jpg,106767
1777,ACG_213992_22-02-2022_2_resized.jpg,ACG_213992_22-02-2022_2_mask_resized.jpg,213992
1778,MJM_96785_02-05-23_2_resized.jpg,MJM_96785_02-05-23_2_mask_resized.jpg,96785
1779,LG_98688_002_resized.jpg,LG_98688_002_mask_resized.jpg,98688
1780,CCC_98734_28-04-20_2_resized.jpg,CCC_98734_28-04-20_2_mask_resized.jpg,98734

In [46]:
# Drop the specified columns
columns_to_drop = ['Surgery Date','Date Posted', 'Owner', 'Surgery Type','Patient Status','Radiotherapy Start Date','Radiotherapy End Date']
patient_info = patient_info.drop(columns=columns_to_drop)

catalogue_info=catalogue_info[catalogue_info['Ordered Exc Good Catalogue'].notna()]
# Rename the 'query patient' column in the second DataFrame to 'Patient ID'
catalogue_info.rename(columns={'Query Patient': 'Patient ID'}, inplace=True)

In [36]:
patient_info

,Patient Institutional Number,Patient Birthday,Patient ID,Patient Height,Patient Weight,Bra Size,Bra Cup,Had Radiotherapy,Radiotherapy Gray Total Dose,Had Radiotherapy Boost,Cancer Side
0,00b55,1986-03-11,1038,168.0,80.0,75,C,True,NaN,False,Bilateral
1,00d39,1978-10-10,1002,170.0,67.0,85,D,NaN,NaN,NaN,NaN
2,100032,1970-06-09,1812,160.0,54.0,70,E,True,48.0,True,Right
3,100131,1950-08-03,1810,153.0,73.0,95,E,True,48.0,True,Right
4,100176,1974-06-15,1809,167.0,57.0,80,C,True,50.0,False,Left
...,...,...,...,...,...,...,...,...,...,...,...
2330,f9d1c,2003-05-05,1074,170.0,65.0,65,B,NaN,NaN,NaN,NaN
2331,test22918,1978-10-10,1507,170.0,67.0,85,D,True,NaN,NaN,NaN
2332,test290,1978-10-10,1508,170.0,67.0,85,D,True,NaN,NaN,NaN
2333,test2934,1978-10-10,1624,170.0,67.0,85,D,True,NaN,NaN,NaN
2334,test990,1978-10-10,1582,170.0,67.0,85,D,True,NaN,NaN,NaN

In [47]:
def extract_patient_id(image_path):
    match = re.search(r'patient_(\d+)', image_path)
    if match:
        return match.group(1)
    else:
        # Extract numbers after the first "_" until the next "_"
        match = re.search(r'_(\d+)_', image_path)
        if match:
            return match.group(1)
    return None
# Apply the function to the 'Image Filename' column
patient_images['Image Filename'] = patient_images['Image Filename'].apply(extract_patient_id)
patient_images=patient_images[patient_images['Right Midpoint x'].notna()]
# Display the DataFrame
patient_images

,Image ID,Patient ID,Image Number,Image Filename,MIME Type,File Type,Image Width,Image Height,Date Created,BRA Value,...,Right Midpoint x,Right Midpoint y,Sternal Notch x,Sternal Notch y,Left Nipple x,Left Nipple y,Right Nipple x,Right Nipple y,View Type,Image Type
1,251,1,1.0,1382,NaN,NaN,2592.0,1936.0,2012-05-16,0.569110,...,450.562500,784.687500,1213.817383,294.079285,1931.181385,1443.335854,509.219338,1418.655426,Anterior,Aesthetic Assessment
3,250,1,3.0,1382,NaN,NaN,2592.0,1936.0,2012-11-21,1.917354,...,1301.062500,612.562500,1314.615234,329.864136,1904.015762,1079.753013,801.835254,1085.896365,Anterior,Aesthetic Assessment
9,32257,1,1.0,1382,NaN,NaN,6205.0,2971.0,2023-10-04,1.330343,...,1866.347656,1320.986328,3063.518867,494.350033,4038.297691,1717.891481,2058.973550,1802.007798,Anterior,Aesthetic Assessment
10,15867,2,3.0,1792,NaN,NaN,2592.0,1936.0,2012-03-07,1.791032,...,567.000000,612.562500,1349.868409,314.615250,1847.890143,1593.563878,727.151434,1616.383305,Anterior,Aesthetic Assessment
26,357,2,4.0,1792,NaN,NaN,4272.0,2848.0,2013-06-18,5.176571,...,1427.347385,1014.486751,2431.015710,546.002688,3215.288965,1482.422923,1961.083002,1438.061103,Lateral Left,Aesthetic Assessment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30480,47540,2528,NaN,None,NaN,NaN,1045.0,783.0,2024-04-09,0.000000,...,322.480469,204.101562,568.796570,137.569557,777.009644,365.515259,383.251587,349.610504,Anterior,NaN
30485,47555,2529,NaN,None,NaN,NaN,4608.0,3456.0,2024-04-09,0.000000,...,2315.353599,1436.370879,2414.570493,292.692776,4056.541416,2627.565303,887.358184,2625.977535,Anterior,NaN
30504,47785,2537,NaN,None,NaN,NaN,4272.0,2848.0,2024-04-10,0.000000,...,1972.060649,1273.472868,2045.638184,542.475708,3070.429250,1529.816573,682.016312,1526.522376,Anterior,NaN
30505,47788,2538,NaN,None,NaN,NaN,4272.0,2848.0,2024-04-10,0.000000,...,2015.491333,1245.834961,2045.638184,542.475708,2959.878418,1810.143921,1049.203003,1648.918823,Anterior,NaN
30510,47801,2539,NaN,None,NaN,NaN,6205.0,2971.0,2024-04-10,0.000000,...,3102.500000,1211.914062,3140.633714,469.071262,4013.530574,1931.768608,2413.862502,1967.259884,Anterior,NaN

In [48]:
# Rename the 'query patient' column in the second DataFrame to 'Patient ID'
filenames.rename(columns={'extracted_numbers': 'Image Filename'}, inplace=True)
filenames

,image_name,mask_name,Image Filename
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556
1,74953_10MAI2018_5_resized.jpg,74953_10MAI2018_5_mask_resized.jpg,74953
2,58272_6JAN2017_2_resized.jpg,58272_6JAN2017_2_mask_resized.jpg,58272
3,209394_07SEP2021_2_resized.jpg,209394_07SEP2021_2_mask_resized.jpg,209394
4,CCC_101748_11-08-20_2_resized.jpg,CCC_101748_11-08-20_2_mask_resized.jpg,101748
...,...,...,...
1776,106767_24DEC2021_2_resized.jpg,106767_24DEC2021_2_mask_resized.jpg,106767
1777,ACG_213992_22-02-2022_2_resized.jpg,ACG_213992_22-02-2022_2_mask_resized.jpg,213992
1778,MJM_96785_02-05-23_2_resized.jpg,MJM_96785_02-05-23_2_mask_resized.jpg,96785
1779,LG_98688_002_resized.jpg,LG_98688_002_mask_resized.jpg,98688
1780,CCC_98734_28-04-20_2_resized.jpg,CCC_98734_28-04-20_2_mask_resized.jpg,98734

In [49]:
patient_images=patient_images[patient_images['Image Filename'].notna()]

In [50]:
patient_images

,Image ID,Patient ID,Image Number,Image Filename,MIME Type,File Type,Image Width,Image Height,Date Created,BRA Value,...,Right Midpoint x,Right Midpoint y,Sternal Notch x,Sternal Notch y,Left Nipple x,Left Nipple y,Right Nipple x,Right Nipple y,View Type,Image Type
1,251,1,1.0,1382,NaN,NaN,2592.0,1936.0,2012-05-16,0.569110,...,450.562500,784.687500,1213.817383,294.079285,1931.181385,1443.335854,509.219338,1418.655426,Anterior,Aesthetic Assessment
3,250,1,3.0,1382,NaN,NaN,2592.0,1936.0,2012-11-21,1.917354,...,1301.062500,612.562500,1314.615234,329.864136,1904.015762,1079.753013,801.835254,1085.896365,Anterior,Aesthetic Assessment
9,32257,1,1.0,1382,NaN,NaN,6205.0,2971.0,2023-10-04,1.330343,...,1866.347656,1320.986328,3063.518867,494.350033,4038.297691,1717.891481,2058.973550,1802.007798,Anterior,Aesthetic Assessment
10,15867,2,3.0,1792,NaN,NaN,2592.0,1936.0,2012-03-07,1.791032,...,567.000000,612.562500,1349.868409,314.615250,1847.890143,1593.563878,727.151434,1616.383305,Anterior,Aesthetic Assessment
26,357,2,4.0,1792,NaN,NaN,4272.0,2848.0,2013-06-18,5.176571,...,1427.347385,1014.486751,2431.015710,546.002688,3215.288965,1482.422923,1961.083002,1438.061103,Lateral Left,Aesthetic Assessment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29402,39172,2340,1.0,228765,NaN,NaN,6205.0,2971.0,2023-05-02,0.000000,...,2290.517578,993.769531,3290.777029,416.245166,4035.031565,1730.806731,2419.876144,1784.559715,Anterior,NaN
30175,44202,2453,8.0,60942,NaN,NaN,4272.0,2848.0,2022-10-14,0.000000,...,275.343750,809.343750,1811.248750,9.696139,3078.427295,1753.381804,765.710066,1849.623470,Anterior,NaN
30184,44195,2453,1.0,60942,NaN,NaN,6205.0,2971.0,2023-10-20,1.919177,...,2048.134766,1236.152344,3317.337553,522.713268,4234.819293,1855.262154,2527.007670,1865.386214,Anterior,NaN
30301,45061,2481,3.0,109487,NaN,NaN,4272.0,2848.0,2022-11-22,0.000000,...,575.718750,792.656250,1992.673308,142.213756,3047.767292,1660.231273,1009.279731,1746.888057,Anterior,NaN
30315,45071,2482,1.0,226434,NaN,NaN,6205.0,2971.0,2023-05-11,0.000000,...,2011.777344,921.054688,3272.217545,305.943038,4152.077061,1638.608909,2581.390929,1750.441503,Anterior,NaN

In [51]:
filenames

,image_name,mask_name,Image Filename
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556
1,74953_10MAI2018_5_resized.jpg,74953_10MAI2018_5_mask_resized.jpg,74953
2,58272_6JAN2017_2_resized.jpg,58272_6JAN2017_2_mask_resized.jpg,58272
3,209394_07SEP2021_2_resized.jpg,209394_07SEP2021_2_mask_resized.jpg,209394
4,CCC_101748_11-08-20_2_resized.jpg,CCC_101748_11-08-20_2_mask_resized.jpg,101748
...,...,...,...
1776,106767_24DEC2021_2_resized.jpg,106767_24DEC2021_2_mask_resized.jpg,106767
1777,ACG_213992_22-02-2022_2_resized.jpg,ACG_213992_22-02-2022_2_mask_resized.jpg,213992
1778,MJM_96785_02-05-23_2_resized.jpg,MJM_96785_02-05-23_2_mask_resized.jpg,96785
1779,LG_98688_002_resized.jpg,LG_98688_002_mask_resized.jpg,98688
1780,CCC_98734_28-04-20_2_resized.jpg,CCC_98734_28-04-20_2_mask_resized.jpg,98734

In [52]:
# Only select the 'patient_id' and 'image' columns from patient_images
merged_df = pd.merge(filenames, patient_images[['Image Filename', 'Patient ID']], on='Image Filename')
# Drop duplicates in filenames based on 'Image Filename'
merged_df = merged_df.drop_duplicates(subset='image_name')
# Display the resulting DataFrame
print(merged_df)

                             image_name  \
0        103556_28JAN2021_2_resized.jpg
2     MLF_103556_08-08-22_3_resized.jpg
4         74953_10MAI2018_5_resized.jpg
6     DC_74953_02-01-2023_2_resized.jpg
8          58272_6JAN2017_2_resized.jpg
...                                 ...
3400     106767_24DEC2021_2_resized.jpg
3402            204734__000_resized.jpg
3404            106245__000_resized.jpg
3406             33372__000_resized.jpg
3409       2504_22Nov2013_6_resized.jpg

                                   mask_name Image Filename  Patient ID
0        103556_28JAN2021_2_mask_resized.jpg         103556        1697
2     MLF_103556_08-08-22_3_mask_resized.jpg         103556        1697
4         74953_10MAI2018_5_mask_resized.jpg          74953         441
6     DC_74953_02-01-2023_2_mask_resized.jpg          74953         441
8          58272_6JAN2017_2_mask_resized.jpg          58272         338
...                                      ...            ...         ...
3400     106767_24DEC2021_2_mask_resized.jpg         106767        1612
3402            204734__000_mask_resized.jpg         204734        1285
3404            106245__000_mask_resized.jpg         106245        1634
3406             33372__000_mask_resized.jpg          33372         179
3409       2504_22Nov2013_6_mask_resized.jpg           2504           4

[1624 rows x 4 columns]

In [53]:
# Find common Patient IDs
common_ids = catalogue_info['Patient ID'].isin(merged_df['Patient ID'])
common_ids

0      False
1       True
2       True
3       True
4       True
       ...
232     True
233     True
235     True
236     True
238     True
Name: Patient ID, Length: 202, dtype: bool

In [54]:
count_non_matching_df2 = common_ids.sum()

print(f"Number of matching Patient IDs in df1: {count_non_matching_df2}")

Number of matching Patient IDs in df1: 177

In [55]:
merged_df

,image_name,mask_name,Image Filename,Patient ID
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556,1697
2,MLF_103556_08-08-22_3_resized.jpg,MLF_103556_08-08-22_3_mask_resized.jpg,103556,1697
4,74953_10MAI2018_5_resized.jpg,74953_10MAI2018_5_mask_resized.jpg,74953,441
6,DC_74953_02-01-2023_2_resized.jpg,DC_74953_02-01-2023_2_mask_resized.jpg,74953,441
8,58272_6JAN2017_2_resized.jpg,58272_6JAN2017_2_mask_resized.jpg,58272,338
...,...,...,...,...
3400,106767_24DEC2021_2_resized.jpg,106767_24DEC2021_2_mask_resized.jpg,106767,1612
3402,204734__000_resized.jpg,204734__000_mask_resized.jpg,204734,1285
3404,106245__000_resized.jpg,106245__000_mask_resized.jpg,106245,1634
3406,33372__000_resized.jpg,33372__000_mask_resized.jpg,33372,179
3409,2504_22Nov2013_6_resized.jpg,2504_22Nov2013_6_mask_resized.jpg,2504,4

In [58]:
# Select the 'Patient ID' and 'Ordered Exc Good Catalogue' columns from catalogue_info
catalogue_info_selected = catalogue_info[['Patient ID', 'Ordered Fair Poor Catalogue']]

# Perform the merge operation
common_ids_df = pd.merge(merged_df, catalogue_info_selected, on='Patient ID')

In [59]:
common_ids_df

,image_name,mask_name,Image Filename,Patient ID,Ordered Fair Poor Catalogue
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556,1697,"843,481,1610,599,669,344,1137,396,1312,402,400..."
1,MLF_103556_08-08-22_3_resized.jpg,MLF_103556_08-08-22_3_mask_resized.jpg,103556,1697,"843,481,1610,599,669,344,1137,396,1312,402,400..."
2,8599_21JAN2020_1_resized.jpg,8599_21JAN2020_1_mask_resized.jpg,8599,21,"1962,7,1419,609,1745,660,662,100,636,515,574,400"
3,8599_11JAN2023_2_resized.jpg,8599_11JAN2023_2_mask_resized.jpg,8599,21,"1962,7,1419,609,1745,660,662,100,636,515,574,400"
4,110477_15DEZ20_6_resized.jpg,110477_15DEZ20_6_mask_resized.jpg,110477,1432,"3,1738,394,1962,1137,1325,2255,1976,1226,924,1616"
...,...,...,...,...,...
329,39665_13FEV2018_6_resized.jpg,39665_13FEV2018_6_mask_resized.jpg,39665,756,"1692,1748,1242,781,2255,594,1381,1616,515,1236..."
330,39665_18OUT2019_2_resized.jpg,39665_18OUT2019_2_mask_resized.jpg,39665,756,"1692,1748,1242,781,2255,594,1381,1616,515,1236..."
331,29985_20NOV2020_2_resized.jpg,29985_20NOV2020_2_mask_resized.jpg,29985,1458,"1553,1455,1254,1137,662,215,949,1140,1778,924,..."
332,85500_12FEV2019_2_resized.jpg,85500_12FEV2019_2_mask_resized.jpg,85500,999,"1096,1380,679,1254,1258,1411,592,757,924,383,1203"
333,204734__000_resized.jpg,204734__000_mask_resized.jpg,204734,1285,"394,1738,1307,949,654,1445,1881,1323,444,1745,..."

In [60]:
patient_row = catalogue_info[catalogue_info['Patient ID'] == 781 ]
patient_row

,Catalogue ID,Patient ID,Retrieved Exc Good Patients,Retrieved Fair Poor Patients,Random Patients Exc Good,Random Patients Fair Poor,Ordered Exc Good Catalogue,Ordered Fair Poor Catalogue
39,179,781,"662,128,1750,946,1348,1255,166,1186","1258,383,1096,1175,1242,337,1599,1423","1324,1176,1147,1163","1203,1247,1179,1260","1750,1163,128,946,1255,1348,166,662,1186,1176,...","1096,1423,337,1258,1247,1179,1260,383,1242,120..."

In [66]:
common_ids_df781

,image_name,mask_name,Image Filename,Patient ID,Ordered Exc Good Catalogue
0,103556_28JAN2021_2_resized.jpg,103556_28JAN2021_2_mask_resized.jpg,103556,1697,"420,1727,1318,1589,1636,1715,1859,1737,1179,18..."
1,MLF_103556_08-08-22_3_resized.jpg,MLF_103556_08-08-22_3_mask_resized.jpg,103556,1697,"420,1727,1318,1589,1636,1715,1859,1737,1179,18..."
2,8599_21JAN2020_1_resized.jpg,8599_21JAN2020_1_mask_resized.jpg,8599,21,"1241,1208,1135,464,1214,1406,660,1186,1969,455..."
3,8599_11JAN2023_2_resized.jpg,8599_11JAN2023_2_mask_resized.jpg,8599,21,"1241,1208,1135,464,1214,1406,660,1186,1969,455..."
4,110477_15DEZ20_6_resized.jpg,110477_15DEZ20_6_mask_resized.jpg,110477,1432,"1252,1394,229,608,1290,1462,1268,1480,874,1599..."
...,...,...,...,...,...
329,39665_13FEV2018_6_resized.jpg,39665_13FEV2018_6_mask_resized.jpg,39665,756,"756,367,74,1394,1423,409,1788,1315,29,1976,117..."
330,39665_18OUT2019_2_resized.jpg,39665_18OUT2019_2_mask_resized.jpg,39665,756,"756,367,74,1394,1423,409,1788,1315,29,1976,117..."
331,29985_20NOV2020_2_resized.jpg,29985_20NOV2020_2_mask_resized.jpg,29985,1458,"1250,1270,1244,1788,1266,582,1478,2026,1890,73..."
332,85500_12FEV2019_2_resized.jpg,85500_12FEV2019_2_mask_resized.jpg,85500,999,"1162,254,598,1277,642,1389,499,1704,1195,433,5..."
333,204734__000_resized.jpg,204734__000_mask_resized.jpg,204734,1285,"358,302,160,91,1981,166,1252,441,641,603,246,1175"

In [61]:
# Drop duplicate file names
unique_filenames_df = common_ids_df.drop_duplicates(subset='image_name')

# Reset the index if necessary
unique_filenames_df = unique_filenames_df.reset_index(drop=True)
unique_filenames_df = unique_filenames_df[['image_name','mask_name']]


print(unique_filenames_df)

                            image_name                               mask_name
0       103556_28JAN2021_2_resized.jpg     103556_28JAN2021_2_mask_resized.jpg
1    MLF_103556_08-08-22_3_resized.jpg  MLF_103556_08-08-22_3_mask_resized.jpg
2         8599_21JAN2020_1_resized.jpg       8599_21JAN2020_1_mask_resized.jpg
3         8599_11JAN2023_2_resized.jpg       8599_11JAN2023_2_mask_resized.jpg
4         110477_15DEZ20_6_resized.jpg       110477_15DEZ20_6_mask_resized.jpg
..                                 ...                                     ...
281      39665_13FEV2018_6_resized.jpg      39665_13FEV2018_6_mask_resized.jpg
282      39665_18OUT2019_2_resized.jpg      39665_18OUT2019_2_mask_resized.jpg
283      29985_20NOV2020_2_resized.jpg      29985_20NOV2020_2_mask_resized.jpg
284      85500_12FEV2019_2_resized.jpg      85500_12FEV2019_2_mask_resized.jpg
285            204734__000_resized.jpg            204734__000_mask_resized.jpg

[286 rows x 2 columns]

In [73]:
unique_filenames_df.to_csv('C:/Users/Admin/Documents/Cinderella/unique_filenames.csv', index=False)

In [80]:
# Define the paths to your CSV files
features_csv = r'C:\Users\Admin\Documents\Cinderella\features_with_ids.csv'

# Read the CSV file into a Pandas DataFrame
features = pd.read_csv(features_csv)

In [81]:
features

,image_name,image_id,0,1,2,3,4,5,6,7,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,103556_28JAN2021_2_resized.jpg,103556,0.436613,0.735262,0.652753,0.051373,0.569042,0.866499,1.208564,0.413277,...,0.027440,0.077605,0.152632,0.442737,0.150123,0.170876,0.825629,0.065717,1.671852,0.267140
1,8599_21JAN2020_1_resized.jpg,8599,0.096521,0.519190,0.305125,0.249142,0.298534,0.482906,1.285101,1.358391,...,0.470095,0.025396,0.552203,0.453554,0.124919,0.385520,0.751161,0.367342,0.970947,0.881544
2,105329_18NOV21_1_resized.jpg,105329,0.196547,0.247679,0.265016,0.047343,0.338365,1.075909,0.899812,0.244662,...,0.147119,0.067063,0.347204,0.375256,0.205786,0.326157,0.466326,0.234709,2.952826,0.610600
3,31665_31OUT2017_2_resized.jpg,31665,0.197573,0.915041,0.259042,0.013737,0.122682,0.393726,1.303654,0.668980,...,0.089999,0.098510,0.113388,0.753922,0.243042,0.380309,0.397176,0.103100,1.206852,0.389820
4,97441_03ABR20_1_resized.jpg,97441,0.064951,0.401698,0.378333,0.121214,0.223016,0.552806,0.810236,0.350700,...,0.039847,0.107901,0.605239,0.535601,0.519430,0.372089,0.510487,0.201201,2.697688,0.883086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,68794_16NOV2017_002_resized.jpg,68794,0.482610,0.240456,0.878426,0.035134,1.049998,1.213152,1.176428,0.184254,...,0.148816,0.008343,0.195928,0.593423,0.496951,0.145747,0.928280,0.181498,2.231017,0.868564
282,208462_10JAN2023_2_resized.jpg,208462,0.121599,0.402310,0.062428,0.158607,0.249776,0.586624,0.834318,1.523015,...,0.533076,0.157717,0.205788,0.339580,0.224597,0.356052,0.684180,0.375177,1.488734,0.690488
283,92857_22JUL2021_5.JPG_resized.jpg,92857,0.032849,1.128625,0.329094,0.231350,0.410692,0.150709,1.092807,0.458921,...,0.796958,0.172589,0.711637,0.484910,0.093804,0.336684,0.265886,0.207741,1.170553,1.326441
284,100799_21JUL2020_2_resized.jpg,100799,0.126343,0.260919,0.201936,0.022811,0.239956,0.287074,0.915628,1.376653,...,0.459725,0.187468,0.572602,0.441796,0.335693,0.246399,0.800233,0.470545,0.637256,0.842472
285,98235_21FEV20_1_resized.jpg,98235,0.103403,0.455455,0.053387,0.212411,0.219411,0.548558,1.427602,0.267954,...,0.381533,0.041302,0.534978,0.809138,0.371987,0.359069,0.983509,0.415617,2.808206,0.895317

In [82]:
# Define the paths to your CSV files
rankings_csv = r'C:\Users\Admin\Documents\Cinderella\rankings.csv'

# Read the CSV file into a Pandas DataFrame
rankings = pd.read_csv(rankings_csv)

In [83]:
rankings

,Similar_1,Similar_2,Similar_3,Similar_4,Similar_5,Similar_6,Similar_7,Similar_8
0,76630,29985,25081,101749,76630,70816,95401,92588
1,8599,69241,105975,98285,67848,95486,208462,101749
2,76450,209541,105975,203267,92588,108435,89659,84327
3,89659,108435,204734,88597,110477,106302,103791,92574
4,97441,104613,66167,74784,72143,92588,56448,58641
...,...,...,...,...,...,...,...,...
147,76450,59908,83318,86473,67473,72385,57907,56867
148,47418,51346,86473,72385,56194,75037,84119,39665
149,200983,200983,211778,81182,100279,81182,214471,109206
150,105975,69241,86473,88967,8599,98713,8599,57907
151,98235,78882,75037,20532,66167,93887,58148,102080

In [85]:
# Define the paths to your CSV files
rankings_csv = r'C:\Users\Admin\Documents\Cinderella\rankings_dense.csv'

# Read the CSV file into a Pandas DataFrame
rankings_dense = pd.read_csv(rankings_csv)

In [86]:
rankings_dense

,image_name,image_id,Similar_Image_Name_1,Similar_Image_Name_2,Similar_Image_Name_3,Similar_Image_Name_4,Similar_Image_Name_5,Similar_Image_Name_6,Similar_Image_Name_7,Similar_Image_Name_8,Similar_Image_ID_1,Similar_Image_ID_2,Similar_Image_ID_3,Similar_Image_ID_4,Similar_Image_ID_5,Similar_Image_ID_6,Similar_Image_ID_7,Similar_Image_ID_8
0,103556_28JAN2021_2_resized.jpg,103556,204734__000_resized.jpg,206748__000_resized.jpg,88967__000_resized.jpg,85886_23Abril2019_1_resized.jpg,85438__000_resized.jpg,90105_24MAIO2019_3_resized.jpg,203267__000_resized.jpg,100799__000_resized.jpg,204734,206748,88967,85886,85438,90105,203267,100799
1,8599_21JAN2020_1_resized.jpg,8599,8599_11JAN2023_2_resized.jpg,102080_07SEP2022_4_resized.jpg,102807_20SEP2022_1_resized.jpg,58641_3SET2021_2_resized.jpg,56448_20AUG2020_2_resized.jpg,107188_9OUT2020_2_resized.jpg,105251_28JUL2020_2_resized.jpg,69241_09JAN2023_2_resized.jpg,8599,102080,102807,58641,56448,107188,105251,69241
2,105329_18NOV21_1_resized.jpg,105329,MLF_103556_08-08-22_3_resized.jpg,97441_03ABR20_1_resized.jpg,96170_10JAN2020_1_resized.jpg,MCS_212118_03-04-23_2_resized.jpg,210227_12OUT21_1_resized.jpg,CCC_93561_15-JAN-20_2_resized.jpg,85303_6AGOSTO2019_1_resized.jpg,98235_21FEV20_1_resized.jpg,103556,97441,96170,212118,210227,93561,85303,98235
3,31665_31OUT2017_2_resized.jpg,31665,58641_3SET2021_2_resized.jpg,104613_11JUL2022_2_resized.jpg,CCC_93561_15-JAN-20_2_resized.jpg,86473_29MAR2019_6_resized.jpg,CCC_93433_20-DEC-19_6_resized.jpg,25081_03JAN2022_2.JPG_resized.jpg,APA_206748_31-08-21_2_resized.jpg,211052_2NOV2021_2_resized.jpg,58641,104613,93561,86473,93433,25081,206748,211052
4,97441_03ABR20_1_resized.jpg,97441,69376_29NOV2022_2_resized.jpg,97441_10AGO21_1_resized.jpg,MLF_103556_08-08-22_3_resized.jpg,72143_16FEV2018_2_resized.jpg,69376_24NOV2017_2_57vcTxV_resized.jpg,210227_12OUT21_1_resized.jpg,98235_21FEV20_1_resized.jpg,72143_20JAN2022_2_resized.jpg,69376,97441,103556,72143,69376,210227,98235,72143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,68794_16NOV2017_002_resized.jpg,68794,98713_06JAN2022_7.JPG_resized.jpg,57907_3JAN2017_2_resized.jpg,CCC_37945_09-09-20_1_resized.jpg,97520_18SEP2020_2_resized.jpg,90105_24MAIO2019_3_resized.jpg,101080_03MAR2020_1_resized.jpg,MLC_82250_27-11-20_2_resized.jpg,CCC_93433_20-DEC-19_6_resized.jpg,98713,57907,37945,97520,90105,101080,82250,93433
282,208462_10JAN2023_2_resized.jpg,208462,67848_10MAR2020_2_resized.jpg,8599_11JAN2023_2_resized.jpg,58641_3SET2021_2_resized.jpg,102080_07SEP2022_4_resized.jpg,86473_29MAR2019_6_resized.jpg,ACC_214471_08-02-22_2_resized.jpg,101749_08SEP2020_2_resized.jpg,33512_27DEZ2016_002_resized.jpg,67848,8599,58641,102080,86473,214471,101749,33512
283,92857_22JUL2021_5.JPG_resized.jpg,92857,208675_31AGO2021_6_resized.jpg,93561_07JUN22_1_resized.jpg,87480_07JUN22_1_resized.jpg,CCC_93561_15-JAN-20_2_resized.jpg,68210_09MAR21_1_resized.jpg,CA_13055_24-01-23_2_resized.jpg,82250_24OUT2018_5_resized.jpg,82916_22FEV2021_2_resized.jpg,208675,93561,87480,93561,68210,13055,82250,82916
284,100799_21JUL2020_2_resized.jpg,100799,39665_18OUT2019_2_resized.jpg,90847_21SET2021_2_resized.jpg,57907_04JUL2022_2_resized.jpg,88597_27AGOSTO2019_1_resized.jpg,56194_20MAI2021_2_resized.jpg,214471_07MAR23_1_resized.jpg,95274_10MAR2020_2_resized.jpg,CCC_93561_15-JAN-20_2_resized.jpg,39665,90847,57907,88597,56194,214471,95274,93561
285,98235_21FEV20_1_resized.jpg,98235,MLF_103556_08-08-22_3_resized.jpg,58641_3SET2021_2_resized.jpg,102080_24APR2020_2_resized.jpg,74784_24AGOS2018_5_resized.jpg,25081_5NOV2019_1_resized.jpg,CCC_93561_15-JAN-20_2_resized.jpg,97441_10AGO21_1_resized.jpg,104613_11JUL2022_2_resized.jpg,103556,58641,102080,74784,25081,93561,97441,104613

In [91]:
# Define the paths to your CSV files
train_csv = r'C:\Users\Admin\Documents\Cinderella\df_train.csv'

# Read the CSV file into a Pandas DataFrame
train = pd.read_csv(train_csv)

In [92]:
train

,PID,image PID,neighbors
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[515, 611, 1244, 1872, 106, 726, 647, 309, 129..."
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, ..."
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 16..."
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, ..."
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, ..."
...,...,...,...
155,259,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[621, 1710, 627, 1286, 1597, 1586, 604, 288, 1..."
156,1536,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[1410, 1321, 1520, 1742, 900, 1323, 1745, 249,..."
157,1458,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[1250, 1270, 1244, 1788, 1266, 582, 1478, 2026..."
158,1739,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[6, 1250, 1559, 228, 1801, 1214, 1646, 1315, 1..."
159,2008,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[940, 567, 428, 332, 1283, 1378, 26, 623, 592,..."

In [168]:
counts_ = train[train['PID'] == 2000 ]
counts_

,PID,image PID,neighbors
32,2000,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/66167_8SET2017_001_1_resized.jpg,"[278, 1612, 1208, 1488, 1708, 942, 1902, 1610, 683, 1480, 2027, 592]"
140,2000,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/66167_8SET2017_001_1_resized.jpg,"[1923, 278, 614, 683, 1477, 1191, 171, 1140, 1403, 455, 7, 1740]"

In [95]:
# Define the paths to your CSV files
test_csv = r'C:\Users\Admin\Documents\Cinderella\df_test.csv'

# Read the CSV file into a Pandas DataFrame
test = pd.read_csv(test_csv)

In [ ]:
pd.set_option('display.max_colwidth', None)
print(test)

In [62]:
# Define the paths to your CSV files
full_csv = r'C:\Users\Admin\Documents\Cinderella\df_combined.csv'

# Read the CSV file into a Pandas DataFrame
full = pd.read_csv(full_csv)

In [23]:
full

,PID,image PID,neighbors
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[515, 611, 1244, 1872, 106, 726, 647, 309, 129..."
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, ..."
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 16..."
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, ..."
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, ..."
...,...,...,...
196,344,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1..."
197,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020,..."
198,1948,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[153, 21, 733, 1833, 5, 1293, 1098, 1438, 997,..."
199,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 66..."
200,322,/nas-ctm01/datasets/private/CINDERELLA/breloai...,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1..."

In [127]:
# Define the function to extract numbers based on the conditions
def extract_name(image_name):
    # Define the directory path to be removed
    directory_path = "/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/"

    # Remove the directory path from the image_name
    if image_name.startswith(directory_path):
        return image_name[len(directory_path):]
    return image_name

In [140]:
import re
# Apply the extract_name function to the PID column
full['image_name'] = full['image PID'].apply(extract_name)
full

,PID,image PID,neighbors,image_name
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/85886_23Abril2019_1_resized.jpg,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/201266_28MAY2021_2_resized.jpg,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ARA__001_resized.jpg,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/74182_26APR2018_5_resized.jpg,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97441_03ABR20_1_resized.jpg,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg
...,...,...,...,...
196,344,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/CCC_65664_14-JAN-20_2_resized.jpg,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]",CCC_65664_14-JAN-20_2_resized.jpg
197,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ML_103791_103791_2_resized.jpg,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg
198,1948,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/92015_20AGO2019_2_resized.jpg,"[153, 21, 733, 1833, 5, 1293, 1098, 1438, 997, 112, 1135, 1177]",92015_20AGO2019_2_resized.jpg
199,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97520_18SEP2020_2_resized.jpg,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg
200,322,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/56194_26Abril2017_002_resized.jpg,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg

In [141]:
# Drop the 'PID' column
full = full.drop(columns=['image PID'])

# Rename the 'extracted_name' column to 'image_pid'
full = full.rename(columns={'extracted_name': 'image PID'})

In [131]:
full1 = full.drop_duplicates(subset='image PID')

In [143]:
full

,PID,neighbors,image_name
0,1009,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg
1,1389,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg
2,101,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg
3,874,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg
4,1879,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg
...,...,...,...
196,344,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]",CCC_65664_14-JAN-20_2_resized.jpg
197,1684,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg
198,1948,"[153, 21, 733, 1833, 5, 1293, 1098, 1438, 997, 112, 1135, 1177]",92015_20AGO2019_2_resized.jpg
199,1877,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg
200,322,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg

In [135]:
counts = full1['PID'].value_counts()
counts

PID
1009    1
1389    1
1661    1
567     1
1773    1
       ..
998     1
84      1
2140    1
400     1
322     1
Name: count, Length: 176, dtype: int64

In [106]:
counts_ = full[full['PID'] == 368 ]
counts_

,PID,image PID,neighbors
76,368,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/68794_16NOV2017_002_resized.jpg,"[504, 1211, 942, 121, 1322, 2060, 1135, 466, 376, 2027, 1610, 839]"
124,368,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/68794_16NOV2017_002_resized.jpg,"[504, 999, 121, 1895, 224, 2000, 733, 1991, 1996, 1740, 1599, 376]"
127,368,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/68794_16NOV2017_002_resized.jpg,"[2026, 121, 1806, 1170, 504, 542, 942, 1146, 1266, 1991, 1805, 7]"

In [155]:
counts = features['image_name'].value_counts()
counts

image_name
68794_16NOV2017_002_resized.jpg      3
11840_09Dez2013204_resized.jpg       2
11848_07MAR2018_5_resized.jpg        2
213222_08FEB2022_2_resized.jpg       2
66167_8SET2017_001_1_resized.jpg     2
                                    ..
80437_11SET2018_2_resized.jpg        1
57907_3JAN2017_2_resized.jpg         1
210227_12OUT21_1_resized.jpg         1
213149_11JAN2022_2_resized.jpg       1
56194_26Abril2017_002_resized.jpg    1
Name: count, Length: 156, dtype: int64

In [ ]:
# Define the paths to your CSV files
full_csv = r'C:\Users\Admin\Documents\Cinderella\features_with_ids.csv'

# Read the CSV file into a Pandas DataFrame
features = pd.read_csv(full_csv)
features

In [156]:
# Define the paths to your CSV files
full_csv = r'C:\Users\Admin\Documents\Cinderella\features_with_ids.csv'

# Read the CSV file into a Pandas DataFrame
features = pd.read_csv(full_csv)
features

,PID,image PID,neighbors,image_name,0,1,2,3,4,5,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/85886_23Abril2019_1_resized.jpg,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg,0.318996,0.210966,0.723191,0.018944,0.427298,0.499550,...,0.153391,0.062378,0.393008,0.941381,0.126842,0.107675,1.475987,0.043247,1.477494,0.415269
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/201266_28MAY2021_2_resized.jpg,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg,0.000000,0.395440,0.087312,0.091000,0.122658,0.159947,...,0.398595,0.062215,0.360700,0.551576,0.108398,0.314155,0.942257,0.506437,0.831310,1.042991
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ARA__001_resized.jpg,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg,0.146304,0.221361,0.167898,0.023635,0.522012,1.719735,...,0.225693,0.050984,0.484841,0.799401,0.261079,0.121607,1.147760,0.383952,2.168518,0.601589
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/74182_26APR2018_5_resized.jpg,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg,0.004922,0.265677,0.045623,0.109180,0.353559,0.278123,...,0.486178,0.212028,0.107587,0.297253,0.326510,0.320862,0.132009,0.107932,1.847678,0.612576
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97441_03ABR20_1_resized.jpg,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg,0.064951,0.401698,0.378333,0.121214,0.223016,0.552806,...,0.039848,0.107901,0.605239,0.535601,0.519431,0.372089,0.510487,0.201201,2.697687,0.883086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,6,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/5623_28Abr2014202_resized.jpg,"[21, 1023, 1026, 1585, 1877, 596, 1266, 1802, 662, 455, 982, 542]",5623_28Abr2014202_resized.jpg,0.120673,0.371000,0.385674,0.044271,0.976119,0.916606,...,0.069632,0.012574,0.249890,0.394518,0.261629,0.162633,0.683151,0.329530,3.067687,0.862697
177,344,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/CCC_65664_14-JAN-20_2_resized.jpg,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]",CCC_65664_14-JAN-20_2_resized.jpg,0.028220,0.767372,0.353173,0.044284,0.911619,0.433056,...,0.300241,0.075265,0.116551,0.346108,0.212342,0.296594,0.398806,0.140499,1.075006,0.403086
178,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ML_103791_103791_2_resized.jpg,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg,0.094521,0.237731,0.047490,0.033942,0.445761,0.235995,...,0.302358,0.013186,0.278050,0.220463,0.112216,0.242676,0.884690,0.571203,2.399433,1.109354
179,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97520_18SEP2020_2_resized.jpg,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg,0.043043,0.326146,0.107994,0.324413,0.443047,0.171132,...,0.271238,0.004360,0.265768,0.406161,0.103102,0.217504,1.143458,0.689898,2.077914,0.655651
180,322,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/56194_26Abril2017_002_resized.jpg,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg,0.230359,0.773305,0.081756,0.210258,0.389909,0.555678,...,0.037504,0.366936,0.129653,0.345985,0.417125,0.353902,0.804676,0.435988,0.922263,0.618920

In [159]:
# Define the paths to your CSV files
valid_csv = r'C:\Users\Admin\Documents\Cinderella\check_Validnames.csv'

# Read the CSV file into a Pandas DataFrame
valid_names = pd.read_csv(valid_csv)
valid_names

,PID,image PID,neighbors,image_name
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/85886_23Abril2019_1_resized.jpg,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/201266_28MAY2021_2_resized.jpg,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ARA__001_resized.jpg,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/74182_26APR2018_5_resized.jpg,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97441_03ABR20_1_resized.jpg,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg
...,...,...,...,...
196,344,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/CCC_65664_14-JAN-20_2_resized.jpg,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]",CCC_65664_14-JAN-20_2_resized.jpg
197,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ML_103791_103791_2_resized.jpg,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg
198,1948,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/92015_20AGO2019_2_resized.jpg,"[153, 21, 733, 1833, 5, 1293, 1098, 1438, 997, 112, 1135, 1177]",92015_20AGO2019_2_resized.jpg
199,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97520_18SEP2020_2_resized.jpg,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg
200,322,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/56194_26Abril2017_002_resized.jpg,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg

In [160]:
# Define the paths to your CSV files
df_features_csv = r'C:\Users\Admin\Documents\Cinderella\df_features.csv'

# Read the CSV file into a Pandas DataFrame
df_features = pd.read_csv(df_features_csv)
df_features

,image_name,0,1,2,3,4,5,6,7,8,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,103556_28JAN2021_2_resized.jpg,0.436613,0.735262,0.652753,0.051373,0.569042,0.866499,1.208564,0.413277,0.574925,...,0.027440,0.077605,0.152632,0.442737,0.150123,0.170876,0.825629,0.065717,1.671852,0.267140
1,8599_21JAN2020_1_resized.jpg,0.096521,0.519190,0.305125,0.249142,0.298534,0.482906,1.285101,1.358391,0.373229,...,0.470095,0.025396,0.552203,0.453554,0.124919,0.385520,0.751161,0.367342,0.970947,0.881544
2,105329_18NOV21_1_resized.jpg,0.196547,0.247679,0.265016,0.047343,0.338365,1.075909,0.899812,0.244662,1.651498,...,0.147119,0.067063,0.347204,0.375256,0.205786,0.326157,0.466326,0.234709,2.952826,0.610600
3,31665_31OUT2017_2_resized.jpg,0.197573,0.915041,0.259042,0.013737,0.122682,0.393726,1.303654,0.668980,0.266672,...,0.089999,0.098510,0.113388,0.753922,0.243042,0.380309,0.397176,0.103100,1.206852,0.389820
4,97441_03ABR20_1_resized.jpg,0.064951,0.401698,0.378333,0.121214,0.223016,0.552806,0.810236,0.350700,0.315740,...,0.039847,0.107901,0.605239,0.535601,0.519430,0.372089,0.510487,0.201201,2.697688,0.883086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,109206_16FEB2021_2_1iv3iKX_resized.jpg,0.098773,1.258513,0.169969,0.034037,0.189308,0.089399,1.466890,0.036247,0.627735,...,0.342886,0.064033,0.509366,0.590033,0.490213,0.552748,0.326662,0.306127,1.221030,0.991134
152,98432_06AGO20_2_resized.jpg,0.023540,0.401204,0.337406,0.062069,0.049935,0.221356,0.714168,0.199349,0.135760,...,0.037522,0.032943,0.622651,0.389382,0.572392,0.356565,0.416073,0.302919,1.454241,0.891637
153,68794_16NOV2017_002_resized.jpg,0.482610,0.240456,0.878426,0.035134,1.049998,1.213152,1.176428,0.184254,1.206024,...,0.148816,0.008343,0.195928,0.593423,0.496951,0.145747,0.928280,0.181498,2.231017,0.868564
154,100799_21JUL2020_2_resized.jpg,0.126343,0.260919,0.201936,0.022811,0.239956,0.287074,0.915628,1.376653,0.418158,...,0.459725,0.187468,0.572602,0.441796,0.335693,0.246399,0.800233,0.470545,0.637256,0.842472
155,98235_21FEV20_1_resized.jpg,0.103403,0.455455,0.053387,0.212411,0.219411,0.548558,1.427602,0.267954,0.364300,...,0.381533,0.041302,0.534978,0.809138,0.371987,0.359069,0.983509,0.415617,2.808206,0.895317

In [161]:
valid_filenames_df = valid_names[valid_names['image_name'].isin(df_features['image_name'])]
valid_filenames_df

,PID,image PID,neighbors,image_name
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/85886_23Abril2019_1_resized.jpg,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/201266_28MAY2021_2_resized.jpg,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ARA__001_resized.jpg,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/74182_26APR2018_5_resized.jpg,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97441_03ABR20_1_resized.jpg,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg
...,...,...,...,...
195,6,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/5623_28Abr2014202_resized.jpg,"[21, 1023, 1026, 1585, 1877, 596, 1266, 1802, 662, 455, 982, 542]",5623_28Abr2014202_resized.jpg
196,344,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/CCC_65664_14-JAN-20_2_resized.jpg,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]",CCC_65664_14-JAN-20_2_resized.jpg
197,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ML_103791_103791_2_resized.jpg,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg
199,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97520_18SEP2020_2_resized.jpg,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg
200,322,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/56194_26Abril2017_002_resized.jpg,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg

In [162]:
merged_df = pd.merge(valid_filenames_df, df_features, on='image_name', how='inner')
merged_df

,PID,image PID,neighbors,image_name,0,1,2,3,4,5,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,1009,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/85886_23Abril2019_1_resized.jpg,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]",85886_23Abril2019_1_resized.jpg,0.318996,0.210966,0.723191,0.018944,0.427298,0.499549,...,0.153391,0.062378,0.393007,0.941381,0.126842,0.107675,1.475987,0.043247,1.477495,0.415269
1,1389,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/201266_28MAY2021_2_resized.jpg,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]",201266_28MAY2021_2_resized.jpg,0.000000,0.395441,0.087312,0.091000,0.122658,0.159947,...,0.398596,0.062215,0.360700,0.551576,0.108398,0.314155,0.942257,0.506437,0.831310,1.042991
2,101,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ARA__001_resized.jpg,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]",ARA__001_resized.jpg,0.146304,0.221361,0.167898,0.023634,0.522012,1.719736,...,0.225694,0.050984,0.484841,0.799401,0.261079,0.121607,1.147760,0.383952,2.168518,0.601589
3,874,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/74182_26APR2018_5_resized.jpg,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]",74182_26APR2018_5_resized.jpg,0.004922,0.265677,0.045623,0.109180,0.353559,0.278123,...,0.486179,0.212028,0.107587,0.297253,0.326510,0.320862,0.132008,0.107932,1.847678,0.612577
4,1879,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97441_03ABR20_1_resized.jpg,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]",97441_03ABR20_1_resized.jpg,0.064951,0.401698,0.378333,0.121214,0.223016,0.552806,...,0.039847,0.107901,0.605239,0.535601,0.519430,0.372089,0.510487,0.201201,2.697688,0.883086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,21,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/8599_21JAN2020_1_resized.jpg,"[1241, 1208, 1135, 464, 1214, 1406, 660, 1186, 1969, 455, 1553, 1610]",8599_21JAN2020_1_resized.jpg,0.096521,0.519190,0.305125,0.249142,0.298534,0.482906,...,0.470095,0.025396,0.552203,0.453554,0.124919,0.385520,0.751161,0.367342,0.970947,0.881544
177,6,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/5623_28Abr2014202_resized.jpg,"[21, 1023, 1026, 1585, 1877, 596, 1266, 1802, 662, 455, 982, 542]",5623_28Abr2014202_resized.jpg,0.120673,0.371000,0.385674,0.044271,0.976119,0.916607,...,0.069632,0.012574,0.249890,0.394518,0.261628,0.162633,0.683151,0.329530,3.067687,0.862697
178,1684,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/ML_103791_103791_2_resized.jpg,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]",ML_103791_103791_2_resized.jpg,0.094521,0.237731,0.047490,0.033941,0.445761,0.235995,...,0.302358,0.013186,0.278050,0.220463,0.112216,0.242677,0.884690,0.571203,2.399433,1.109354
179,1877,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/97520_18SEP2020_2_resized.jpg,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]",97520_18SEP2020_2_resized.jpg,0.043043,0.326145,0.107994,0.324412,0.443047,0.171132,...,0.271238,0.004360,0.265768,0.406160,0.103102,0.217504,1.143458,0.689898,2.077914,0.655651
180,322,/nas-ctm01/datasets/private/CINDERELLA/breloai-rsz/56194_26Abril2017_002_resized.jpg,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]",56194_26Abril2017_002_resized.jpg,0.230359,0.773304,0.081756,0.210258,0.389909,0.555678,...,0.037504,0.366936,0.129653,0.345985,0.417125,0.353902,0.804676,0.435988,0.922263,0.618920

In [ ]:
# Compute Euclidean distances between feature vectors
feature_columns = list(features_df.columns)
distance_matrix = euclidean_distances(features_df[feature_columns])

# Find the 8 most similar images for each image
similar_images = []
for idx, row in merged_df.iterrows():
    distances = distance_matrix[idx]
    similar_indices = distances.argsort()[1:9]  # Exclude the first one (distance to itself)
    similar_image_ids = merged_df.iloc[similar_indices]['PID'].tolist()
    similar_image_names = merged_df.iloc[similar_indices]['image_name'].tolist()

    # Least similar images
    dissimilar_indices = distances.argsort()[-9:][::-1]  # Exclude the first one (distance to itself)
    dissimilar_image_ids = merged_df.iloc[dissimilar_indices]['PID'].tolist()
    dissimilar_image_names = merged_df.iloc[dissimilar_indices]['image_name'].tolist()

    similar_images.append({
        'image_name': row['image_name'],
        'image_id': row['PID'],
        'similar_image_ids': similar_image_ids,
        'dissimilar_image_ids': dissimilar_image_ids
    })

# Directly create the DataFrame from the list of dictionaries
similar_images_df = pd.DataFrame(similar_images)

# Save the DataFrame to a CSV file
similar_images_df.to_csv('/nas-ctm01/datasets/private/CINDERELLA/Pred_masks/csv/rankings.csv', index=False)

# Display the DataFrame to verify the output
print(similar_images_df)

In [164]:
# Define the paths to your CSV files
full_csv = r'C:\Users\Admin\Documents\Cinderella\rankings.csv'

# Read the CSV file into a Pandas DataFrame
features = pd.read_csv(full_csv)
features

,image_name,image_id,neighbors,similar_image_ids,dissimilar_image_ids
0,85886_23Abril2019_1_resized.jpg,1009,"[515, 611, 1244, 1872, 106, 726, 647, 309, 1297, 1240]","[509, 233, 41, 41, 52, 1021, 1697, 445]","[1058, 140, 1485, 1859, 1859, 315, 1773, 1773, 588]"
1,201266_28MAY2021_2_resized.jpg,1389,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, 101, 1491, 307, 1233]","[997, 1678, 1684, 1877, 1181, 465, 1438, 475]","[315, 787, 858, 215, 938, 140, 100, 100, 590]"
2,ARA__001_resized.jpg,101,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 1697, 1162]","[332, 84, 787, 2000, 2000, 481, 1021, 8]","[1485, 1058, 625, 1690, 1655, 1772, 938, 1976, 956]"
3,74182_26APR2018_5_resized.jpg,874,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, 435, 1805, 3, 1734]","[471, 625, 949, 1861, 956, 1562, 1737, 556]","[787, 325, 1781, 567, 466, 621, 368, 368, 368]"
4,97441_03ABR20_1_resized.jpg,1879,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, 574, 441, 2050, 332]","[1269, 1678, 781, 376, 1661, 1607, 1758, 877]","[787, 325, 1072, 1781, 466, 85, 588, 366, 366]"
...,...,...,...,...,...
176,5623_28Abr2014202_resized.jpg,6,"[21, 1023, 1026, 1585, 1877, 596, 1266, 1802, 662, 455, 982, 542]","[2000, 2000, 52, 41, 41, 301, 1147, 350]","[1485, 1058, 1773, 1773, 625, 85, 1072, 140, 1025]"
177,CCC_65664_14-JAN-20_2_resized.jpg,344,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1095, 1801, 400]","[344, 1976, 400, 1901, 1800, 1432, 1232, 1232]","[787, 567, 325, 1859, 1859, 140, 101, 1781, 1058]"
178,ML_103791_103791_2_resized.jpg,1684,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020, 388, 1186, 1704, 1177]","[583, 1877, 1678, 1652, 1652, 781, 1758, 1661]","[215, 787, 625, 1072, 366, 366, 325, 1255, 315]"
179,97520_18SEP2020_2_resized.jpg,1877,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 667, 1096, 1147, 1553]","[1684, 465, 583, 1940, 1183, 1678, 1438, 1326]","[315, 625, 325, 140, 787, 1859, 1859, 858, 527]"
180,56194_26Abril2017_002_resized.jpg,322,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1590, 1202]","[332, 324, 366, 366, 84, 461, 8, 2000]","[1058, 325, 1781, 1485, 466, 1981, 1981, 1806, 1690]"

In [167]:
# Define the paths to your CSV files
full_csv = r'C:\Users\Admin\Documents\Cinderella\densenet_evaluation_metrics.csv'

# Read the CSV file into a Pandas DataFrame
features = pd.read_csv(full_csv)
features

     image_id  precision@k  recall@k  ndcg@k
0        1009          0.0       0.0     0.0
1        1389          0.0       0.0     0.0
2         101          0.0       0.0     0.0
3         874          0.0       0.0     0.0
4        1879          0.0       0.0     0.0
..        ...          ...       ...     ...
176         6          0.0       0.0     0.0
177       344          0.0       0.0     0.0
178      1684          0.0       0.0     0.0
179      1877          0.0       0.0     0.0
180       322          0.0       0.0     0.0

[181 rows x 4 columns]

In [3]:
# Define the paths to your CSV files
similar_csv = r'C:\Users\Admin\Documents\Cinderella\similar_images_df.csv'

# Read the CSV file into a Pandas DataFrame
similar = pd.read_csv(similar_csv)
similar

,image_name,image_id,neighbors,similar_image_ids,dissimilar_image_ids
0,85886_23Abril2019_1_resized.jpg,1009,"[515, 611, 1244, 1872, 106, 726, 647, 309, 129...","[1438, 648, 1269, 1021, 445, 445, 781, 1990]","[101, 1737, 215, 787, 315, 588, 408, 408, 447]"
1,201266_28MAY2021_2_resized.jpg,1389,"[128, 1377, 1098, 388, 1322, 1318, 1348, 662, ...","[1773, 1773, 1968, 604, 603, 1877, 1021, 1699]","[215, 787, 408, 408, 101, 315, 1737, 373, 3]"
2,ARA__001_resized.jpg,101,"[388, 389, 358, 1377, 128, 1318, 662, 1348, 16...","[787, 350, 350, 599, 408, 408, 480, 182]","[215, 1737, 1058, 542, 1025, 1739, 1739, 1806,..."
3,74182_26APR2018_5_resized.jpg,874,"[171, 1727, 1999, 1432, 1877, 900, 625, 1162, ...","[509, 556, 556, 1655, 956, 1536, 497, 51]","[101, 1981, 1981, 787, 85, 588, 1737, 1690, 325]"
4,97441_03ABR20_1_resized.jpg,1879,"[160, 1378, 1463, 1486, 1269, 624, 1412, 603, ...","[781, 640, 1990, 1678, 656, 1652, 1652, 1269]","[215, 101, 787, 315, 368, 368, 368, 408, 408]"
...,...,...,...,...,...
176,5623_28Abr2014202_resized.jpg,6,"[21, 1023, 1026, 1585, 1877, 596, 1266, 1802, ...","[445, 445, 52, 332, 2000, 2000, 1147, 1009]","[1737, 101, 1981, 1981, 787, 625, 588, 215, 3]"
177,CCC_65664_14-JAN-20_2_resized.jpg,344,"[171, 106, 1489, 895, 1792, 647, 1739, 1745, 1...","[344, 648, 662, 1933, 1940, 301, 400, 1269]","[215, 315, 322, 1058, 3, 1737, 542, 101, 447]"
178,ML_103791_103791_2_resized.jpg,1684,"[1377, 475, 128, 1255, 1138, 1134, 1491, 1020,...","[1285, 1773, 1773, 1183, 1877, 1879, 1320, 858]","[215, 3, 1737, 787, 322, 956, 315, 101, 408]"
179,97520_18SEP2020_2_resized.jpg,1877,"[106, 611, 1293, 1280, 1561, 647, 527, 828, 66...","[1773, 1773, 1940, 1641, 1265, 1438, 1285, 1432]","[215, 315, 1737, 101, 408, 408, 447, 787, 322]"
180,56194_26Abril2017_002_resized.jpg,322,"[1249, 455, 611, 602, 1895, 1098, 106, 1097, 1...","[527, 366, 366, 41, 41, 2000, 2000, 567]","[1737, 85, 1690, 1981, 1981, 542, 325, 1058, 1..."

In [21]:
sim_imag = similar[similar['image_id'] == 215 ]
sim_imag

,image_name,image_id,neighbors,similar_image_ids,dissimilar_image_ids
25,37945_01set2015_2_resized.jpg,215,"[21, 563, 1244, 1425, 1324, 1323, 1999, 1096, ...","[373, 874, 366, 366, 2000, 2000, 6, 395]","[1981, 1981, 85, 1737, 588, 325, 101, 1690, 542]"